
.icon-github:before { content: '\67'; } /* 'g' */
.icon-lor:before { content: '\6c'; } /* 'l' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-wiki:before { content: '\77'; } /* 'w' */
.icon-yandex:before { content: '\79'; } /* 'y' */