@body: #fff;
@light2: #fa8072;
@light: #ffedeb;
@baselight: #eee8aa;
@basedark: #20b2aa;
@dark: #008080;
@deepskyblue: #00bfff;
html, 
body 
{
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
}

body 
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    // background: #000; 
    display: flex; 
    flex-direction: column;
}

body > header 
{
    background: #eee;
}

section
{
    width: 625px;

    // font-family: "" !important; 
    text-shadow: 0 0.05px 0.05px fade(#000, 20%);
    // width: 100%;
    // height: 100%;
    background: #fff;
    // padding: 2em;
    flex-grow: 1;
    // margin: 0 auto;
    // display: flex;
    margin-bottom: 1em;
    flex-direction: column;
    align-self: center;
}

// section{
//     @border: 80px;
//     @color:  #fff;
//     position: relative;
//     &:before{
//         content: '';
//         left: -@border;
//         top: 0px;
//         width: @border;
//         height: 100%;
//         display: block;
//         background: @color;
//         position: absolute;
//         // border-left: 1px solid fade(#000, 15%);
//         border-left: 2px dashed @light;
//     }
//     &:after{
//         content: '';
//         position: absolute;
//         right: -@border;
//         top: 0px;
//         width: @border;
//         height: 100%;
//         display: block;
//         // border-right: 1px solid fade(#000, 15%);
//         background: @color;
//         border-right: 2px dashed @light;


//     }
// }

@media screen and (max-width: 600px) {
     section{
        width: 100%;
        padding: 1em 1em 1em 1em !important;
        box-sizing: border-box;
     }
    img[src^="https://tex.s2cms.ru"][align=center]{
        padding-left: 0 !important;
        padding-right: 0 !important; 
        margin-left: 0 !important;
        margin-right: 0 !important;
        box-sizing: border-box !important;
        max-width: 90% !important;
        border: 1em solid white;
    }
}


body > footer 
{
    display: flex;
    flex-direction: column; 
    min-height: 6rem;

    // background: none;
    // background: darken(@body, 5%);

    speak: none;

    border-top: 1px solid darken(white, 6%);
    background: darken(@body, 3%);

    // justify-content: center;
    a.social
    {
        font-family: 'social';
        font-weight: normal;
        font-style: normal;
    }
    p
    {
        font-size: 0.7em;

        margin: 0;
        padding: 1em; 
        padding-top: 0;
        font-family: 'Roboto'; 
        font-weight: 100;

        align-self: center; 
        color: fade(black, 55%);

    }
}

@import 'navigation.less';
@import 'content.less';
@import 'problem.less';
@import 'latex.less';
@import 'linux.less';
@import 'journal.less';

.readmore{
    text-align: right;
    width: 100%;
    display: block;
    color: fade(blue, 20%);
    margin-bottom: 1em;
}
