<!DOCTYPE html>
<html>
<head>
	<meta name="yandex-verification" content="09e309df3b8ffe74" />
	<meta charset="UTF-8">
    <title>Галерея картинок - блог Федора Сарафанова</title>
	<link rel=stylesheet href="/css/main2.min.css">
  <link rel="stylesheet" href="/css/prism.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/img/favicon.png" type="image/png"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai-sublime.min.css">
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script> -->

	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&locale=ru"></script>
	<!--   CommonHTML: { linebreaks: {width: "container"} },
	  "HTML-CSS": { linebreaks: {width: "container"} },
	         SVG: { linebreaks: {width: "container"} } -->
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  CommonHTML: { linebreaks: {automatic: true} },
	  "HTML-CSS": { linebreaks: {automatic: true} },
	         SVG: { linebreaks: {automatic: true} },
	  tex2jax : {
	          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	          processEscapes: true
	        },
	    showProcessingMessages: false,
	    messageStyle: 'none'
	});
	</script>

	<script>
	  function ready() {
	    hljs.initHighlightingOnLoad();
	  }
	  document.addEventListener("DOMContentLoaded", ready);
	</script>

<!-- 	{% if page.desc %}
	<meta name="description" content="{{ page.desc }}" />
	{% endif %}

	{% if page.tags %}
	<meta name="keywords" content="{{ page.tags | array_to_sentence_string }}" />
	{% endif %} -->


</head>
<body> 
<div id="wrapper">
	<div id="aside"> 
		<aside>
			<div id="title">  
				<a href="/"><h1 id="phy">Physics&nbsp;<span id="and">&</span><span id="other">&nbsp;other</span></h1></a>
			</div>
			<ul id="nav">
				<li><a href="/">Главная</a></li>
				<li><a href="/problems">Задачи</a></li>
				<li><a href="/lections">Лекции</a></li>
				<li><a href="/lab">Лабораторные</a></li>
				<li><a href="/cook">pdf в jpg</a></li>
       			<li><a href="/python_lab">Численные методы</a></li>
				<li><a href="/python">Python</a></li>
				<li><a href="/matlab">Matlab</a></li>
				<li><a href="/tikz">TikZ</a></li>
				<li><a href="/pgfplots">PGFPlots</a></li>
				<li><a href="/cook/gallery.html">Галерея графиков</a></li>
				<li><a href="/buy">Заказ графиков/иллюстраций</a></li>
				<li><a href="{% post_url 2017-01-01-about %}">О блоге</a></li>
			</ul>
			<footer>
				<!-- Авторский сайт @ Ф.Г. Сарафанов, 2018 -->
			</footer>
		</aside>
	</div>
	<main>
		<header><h2>Исходники картинки</h2></header>
		<section style="padding-top: 20px !important;">
<a class="imag2" href="tikzpicture_91f8653dd3b3b317c120923b7bf51f2a.tex"><img src="tikzpicture_91f8653dd3b3b317c120923b7bf51f2a.pdf.jpg" alt=""></a>
<a href="pre.html">pre.tex</a>
<pre>
<code class="language-latex">\documentclass[tikz]{standalone}\input{pre.tex}\begin{document}\begin{tikzpicture}[
		x={(1cm*2,0cm)},
		y={(0,1cm*2)},
		z={(0,-0.2cm*2)},
		rotate=90+180,
	]
	
	%Ось координат
	\draw[dashed] (0,-2, 0) -- (0,2,0); 
	
	%Луч
	\draw[color=orange, thick] (0,0,0)
	-- (xyz spherical cs:radius=8,longitude=-45,latitude=-85) coordinate (*);
	
	\draw[color=black, thick,->] (xyz spherical cs:radius=8,longitude=-45,latitude=-85) -- (xyz spherical cs:radius=6,longitude=-45,latitude=-85) node [above] {$\vec{k}$};
	

	\begin{scope}[
			canvas is xz plane at y=0
		]
		\draw[axis] (0,0) circle (1);
		\draw[vec line] (0,0) -- (180:1) coordinate (A);
		\draw[vec] (*) -- ++(180:0.5) coordinate (np);
	\end{scope}
	
	
	\begin{scope}[ canvas is xy plane at z=0]
		\draw (0,0) ellipse (1 and 1.5);
	\end{scope}
	
	\begin{scope}[
			canvas is xy plane at z=0,
			rotate around y=-65,
		]
		\draw[axis] (0,0) ellipse (1 and 1.5);
		\draw[light axis] (-1,0) -- (1,0);
		\draw[vec line] (0,0) -- (45:1.18)  coordinate (B);
		\draw[vec line] (90:1.5)  coordinate (o);
		\draw[vec] (*) -- ++(45:0.5) coordinate (ne);
	\end{scope}
	
	\draw[fill=magenta] (A) circle (2pt) node[above] {$n_0$};
	\draw[fill=magenta] (B) circle (2pt) node[above] {$n_e$};
	% \draw[fill=magenta] (o) circle (2pt) node[right, yshift=-0.6em] {$n_1$};
	\draw[] (np) node[above] {$\vec{E}_\perp$};
	\draw[] (ne) node[right] {$\vec{E}_\parallel$};
	

\end{tikzpicture}\end{document}</code>
      </section>
	</main>
</div>


<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42140204 = new Ya.Metrika({ id:42140204, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42140204" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<script src="/js/prism.js"></script>
</body>
</html>