{{ $pag := $.Paginator  }}
{{ if gt $pag.TotalPages 1 }}
<nav class="paginate-container">
  <div class="pagination">
    <ul>
      {{ if $pag.HasPrev }}
      <a href="{{ $pag.Prev.URL }}" class="previous_page">{{ i18n "paginatorPrevious"}}</a>
      {{ else }}
      <span class="previous_page disabled">{{ i18n "paginatorPrevious"}}</span>
      {{ end }}

      {{ range $pag.Pagers }}
          {{ $right := sub .TotalPages .PageNumber }}
          {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
          {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
          {{ if $showNumber }}
              {{ $.Scratch.Set "__paginator.ellipsed" false }}
              {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
          {{ else }}
              {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
              {{ $.Scratch.Set "__paginator.ellipsed" true }}
          {{ end }}
          {{ if $showNumber }}

              {{ if eq . $pag }}
                <span class="current_page" aria-current="true">{{ .PageNumber }}</span>
              {{ else }}
                <a href="{{ .URL }}">{{ .PageNumber }}</a>
                <!-- <a href="{{ .URL }}">{{ .PageNumber }}</a> -->
              {{ end }}
          {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
            <span class="gap">…</span>
          {{ end }}
      {{ end }}

      {{ if $pag.HasNext }}
      <a href="{{ $pag.Next.URL }}" class="next_page">{{ i18n "paginatorNext"}}</a>
      {{ else }}
      <span class="next_page disabled">{{ i18n "paginatorNext"}}</span>
      {{ end }}
    </ul>
  </div>
</nav>
{{ end }}
