<!DOCTYPE html>
<html>
<head>
	<meta name="yandex-verification" content="09e309df3b8ffe74" />
	<meta charset="UTF-8">
    <title>Галерея картинок - блог Федора Сарафанова</title>
	<link rel=stylesheet href="/css/main2.min.css">
  <link rel="stylesheet" href="/css/prism.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/img/favicon.png" type="image/png"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai-sublime.min.css">
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script> -->

	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&locale=ru"></script>
	<!--   CommonHTML: { linebreaks: {width: "container"} },
	  "HTML-CSS": { linebreaks: {width: "container"} },
	         SVG: { linebreaks: {width: "container"} } -->
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  CommonHTML: { linebreaks: {automatic: true} },
	  "HTML-CSS": { linebreaks: {automatic: true} },
	         SVG: { linebreaks: {automatic: true} },
	  tex2jax : {
	          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	          processEscapes: true
	        },
	    showProcessingMessages: false,
	    messageStyle: 'none'
	});
	</script>

	<script>
	  function ready() {
	    hljs.initHighlightingOnLoad();
	  }
	  document.addEventListener("DOMContentLoaded", ready);
	</script>

<!-- 	{% if page.desc %}
	<meta name="description" content="{{ page.desc }}" />
	{% endif %}

	{% if page.tags %}
	<meta name="keywords" content="{{ page.tags | array_to_sentence_string }}" />
	{% endif %} -->


</head>
<body> 
<div id="wrapper">
	<div id="aside"> 
		<aside>
			<div id="title">  
				<a href="/"><h1 id="phy">Physics&nbsp;<span id="and">&</span><span id="other">&nbsp;other</span></h1></a>
			</div>
			<ul id="nav">
				<li><a href="/">Главная</a></li>
				<li><a href="/problems">Задачи</a></li>
				<li><a href="/lections">Лекции</a></li>
				<li><a href="/lab">Лабораторные</a></li>
				<li><a href="/cook">pdf в jpg</a></li>
       			<li><a href="/python_lab">Численные методы</a></li>
				<li><a href="/python">Python</a></li>
				<li><a href="/matlab">Matlab</a></li>
				<li><a href="/tikz">TikZ</a></li>
				<li><a href="/pgfplots">PGFPlots</a></li>
				<li><a href="/cook/gallery.html">Галерея графиков</a></li>
				<li><a href="/buy">Заказ графиков/иллюстраций</a></li>
				<li><a href="{% post_url 2017-01-01-about %}">О блоге</a></li>
			</ul>
			<footer>
				<!-- Авторский сайт @ Ф.Г. Сарафанов, 2018 -->
			</footer>
		</aside>
	</div>
	<main>
		<header><h2>Исходники картинки</h2></header>
		<section style="padding-top: 20px !important;">
<a class="imag2" href="tikzpicture_c9dabb90d2362df2ae44debebd90ea21.tex"><img src="tikzpicture_c9dabb90d2362df2ae44debebd90ea21.pdf.jpg" alt=""></a>
<a href="pre.html">pre.tex</a>
<pre>
<code class="language-latex">\documentclass[tikz]{standalone}\input{pre.tex}\begin{document}\begin{tikzpicture}

    \draw[interface] (-1,0.7) rectangle (1,1);
    \draw[thick] (-1,0.7) -- (1,0.7);
    \draw (0,0.7) -- (0,0);
    \draw[axis,->] (0,0.7) -- ++(0,-4) node[below] {$+x$};

    \draw (0,0) circle (0.5);
    \draw[fill=black] (0,0) circle (1pt);

    \draw (-0.5,0) -- ++ (0,-1);
    \draw (0.5,0) -- ++ (0,-1);
    \draw[fill=white] (0.5,0) ++ (0,-1) node[draw,minimum width=0.5cm,minimum height=0.5cm, fill=white] {$M$};

    \draw[fill=white] (-0.5,0) ++ (0,-2) node[draw,minimum width=2cm,minimum height=0.5cm, fill=white, rotate=90] {$M-m$};

    \draw[fill=white] (-0.5,0) ++ (-0.5,-2) node[draw,minimum width=1cm,minimum height=0.5cm, fill=white, rotate=90] {$m$};




\end{tikzpicture}\end{document}</code>
      </section>
	</main>
</div>


<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42140204 = new Ya.Metrika({ id:42140204, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42140204" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<script src="/js/prism.js"></script>
</body>
</html>