<div class='problem'><span>доска</span><span class='href'><a href='/problems/доска-0.jpg'>1</a><a href='/problems/доска-1.jpg'>2</a></span></div>
<div class='problem'><a href='/problems/катушка.jpg'>катушка</a></div>
<div class='problem'><a href='/problems/клин.jpg'>клин</a></div>

<!-- 13 марта 2017 -->
<div class='problem'><a href='/problems/ауу1.jpg'>АУУ-1</a></div>
<div class='problem'><a href='/problems/ауу2.jpg'>АУУ-2</a></div>
<div class='problem'><a href='/problems/ану.jpg'>АНУ</a></div>
<!-- <div class='problem'><a href='/problems/поле.jpg'>поле</a></div> -->
