
.icon-pict:before { content: '\e800'; } /* '' */
.icon-git:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-vk:before { content: '\f189'; } /* '' */
.icon-pdf:before { content: '\f1c1'; } /* '' */
.icon-yandex:before { content: '\f306'; } /* '' */