<header><time class='datetime'>January 12, 2017</time><h1><a href='article/kepler.html'>Задача Кеплера</a></h1></header><article><!--d--><br>Задача Кеплера - фундаментальная задача механики, наряду с задачей о простом гармоническом осцилляторе.</p>
<p>В классической механике, задача Кеплера — это частный случай задачи двух тел, в которой два тела взаимодействуют посредством центральной силы F, изменяющейся по величине обратно пропорционально квадрату расстояния r между ними:</p>
<p align="center"><img align="center" src="https://tex.s2cms.ru/svg/%20%5Cmathbf%7BF%7D%20%3D%20%5Cfrac%7Bk%7D%7Br%5E%7B2%7D%7D%20%5Cmathbf%7B%5Chat%7Br%7D%7D%20" alt=" \mathbf{F} = \frac{k}{r^{2}} \mathbf{\hat{r}} " /></p>
<!--ed--></article>
<header><time class='datetime'>January 10, 2017</time><h1><a href='article/windows-flash.html'>Создание загрузочной флешки с Windows из под (Arch)Linux</a></h1></header><article><!--d--><br>Может понадобиться записать флешку с Windows, когда в наличии только Linux? </p>
<p>Это вполне реально. </p>
<p>Приведенный способ наиболее легко применяется в системах ArchLinux и Manjaro, так как в их AUR репозиториях есть <code>ms-sys</code>. 
<!--ed--></article>
<header><time class='datetime'>January 10, 2017</time><h1><a href='article/bashhistory.html'>Настройка истории bash</a></h1></header><article><!--d--><br>Можно облегчить себе пользование терминалом, нехитрым образом настроив bash и используя некоторые удобные команды.
<!--ed--></article>
<header><time class='datetime'>January 3, 2017</time><h1><a href='article/datemodification.html'>Смена времени модификации / создания файла в Linux</a></h1></header><article><!--d--><br><code>touch -a -m -t 201701011212.00 fileName.ext</code></p>
<p>где параметры:</p>
<p><code>-a = accessed</code> (доступ)</p>
<p><code>-m = modified</code> (модификация)</p>
<p><code>-t = timestamp</code> (форматированное время: <code>[[CC]YY]MMDDhhmm[.ss]</code>)</p>
<!--ed--></article>
<header><time class='datetime'>January 1, 2017</time><h1><a href='article/about.html'>О блоге и авторе</a></h1></header><article><!--d--><br>Добро пожаловать, дорогой читатель!   </p>
<p>Этот блог создан для нескольких целей.         </p>
<p>Первая - это публикация решений вузовских задач по физике и прочих материалов, в том числе, статей и книг (как переведенных и/или скопированных, так и оригинальных).</p>
<p>Вторая - это полезная информация по компьютерным темам: железо, программирование - linux, bash, node.js, javascript, python, веб -  html5, css3 и многие другие интересные вещи, до которых у меня доберутся руки написать сюда пост. 
<!--ed--></article>