<header><time class='datetime'>January 9, 2017</time><h1>Создана блоговая система pr </h1></header><article><!--d-->                
	<img src="https://yandex.ru/images/today?size=1280x1024"/>
	<!-- <img src="http://x1.fap.to/images/full/50/678/678528452.jpg"/> -->
<!--ed--></article>
<header><time class='datetime'>January 9, 2017</time><h1>ттт</h1></header><article><!--d-->               
	<!-- <img src="https://yandex.ru/images/today?size=1280x1024"/> -->
	<!-- <img src="http://x1.fap.to/images/full/50/678/678528452.jpg"/> -->
<!--ed--></article>
<header><time class='datetime'>January 9, 2017</time><h1>яяя первый</h1></header><article><!--d-->  
<p>описание 2</p>     
<!--ed--></article>