<ul class="pagination">
  <li><a class="social" href="http://github.com/fedorsarafanov">g</a></li>
  <li><a class="social" href="http://www.linux.org.ru/people/osabio/profile">l</a></li>
  <li><a class="social" href="https://wiki.archlinux.org/index.php/User_talk:Osabio">w</a></li>
  <li><a class="social" href="https://vk.com/krasnuyi">v</a></li>
  <li><a class="social" href="mailto:sfg180@yandex.ru">y</a></li>
</ul>
<p>This page is protected: all rights reserved
&copy; Saraganov F. G. (aka @osabio)</p>

<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42140204 = new Ya.Metrika({ id:42140204, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42140204" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<!-- <script src="/js/latex.js"></script> -->
<!-- <script type="text/javascript" src="/js/intro.min.js"></script> -->