---
layout: default
title: "Решения задач из Яковлева, Иродова и другие"
date:   2017-01-01T22:16:31+03:00
---

<header><time class='datetime'>зимняя сессия</time><h1>Иродов</h1></header>
<article>
   {% include irodov.html %}
</article> 

<header><time class='datetime'>зимняя сессия</time><h1>Яковлев</h1></header>
<article>
    {% include yakovlev.html %}
</article> 
<header><time class='datetime'>зимняя сессия</time><h1>Под запись</h1></header>
<article>
    {% include wrote.html %} 
</article>     

<!-- {% for post in site.posts %} 
{% if post.ex %}
<header>
	<time class="datetime">{{ post.date | date: "%b %e, %Y" }}</time>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
</header>

<article>
{{ post.excerpt }}
<div class="readmore"><a href="{{ post.url }}">Читать далее</a></div>
</article> 
{% endif %}
{% endfor %}      -->  

 