---
layout: default
title: "Решения задач из Яковлева, Иродова и другие"
date:   2017-01-01T22:16:31+03:00
---

<header><time class='datetime'>зимняя сессия</time><h1>Иродов</h1></header>
<article>
   {% include irodov.html %}
</article> 

<header><time class='datetime'>зимняя сессия</time><h1>Яковлев</h1></header>
<article>
    {% include yakovlev.html %}
</article> 
<header><time class='datetime'>зимняя сессия</time><h1>Под запись</h1></header>
<article>
    {% include wrote.html %}
</article>           

