<!DOCTYPE html>
<html>
<head>
	<meta name="yandex-verification" content="09e309df3b8ffe74" />
	<meta charset="UTF-8">
    <title>Галерея картинок - блог Федора Сарафанова</title>
	<link rel=stylesheet href="/css/main2.min.css">
  <link rel="stylesheet" href="/css/prism.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/img/favicon.png" type="image/png"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai-sublime.min.css">
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script> -->

	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&locale=ru"></script>
	<!--   CommonHTML: { linebreaks: {width: "container"} },
	  "HTML-CSS": { linebreaks: {width: "container"} },
	         SVG: { linebreaks: {width: "container"} } -->
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  CommonHTML: { linebreaks: {automatic: true} },
	  "HTML-CSS": { linebreaks: {automatic: true} },
	         SVG: { linebreaks: {automatic: true} },
	  tex2jax : {
	          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	          processEscapes: true
	        },
	    showProcessingMessages: false,
	    messageStyle: 'none'
	});
	</script>

	<script>
	  function ready() {
	    hljs.initHighlightingOnLoad();
	  }
	  document.addEventListener("DOMContentLoaded", ready);
	</script>

<!-- 	{% if page.desc %}
	<meta name="description" content="{{ page.desc }}" />
	{% endif %}

	{% if page.tags %}
	<meta name="keywords" content="{{ page.tags | array_to_sentence_string }}" />
	{% endif %} -->


</head>
<body> 
<div id="wrapper">
	<div id="aside"> 
		<aside>
			<div id="title">  
				<a href="/"><h1 id="phy">Physics&nbsp;<span id="and">&</span><span id="other">&nbsp;other</span></h1></a>
			</div>
			<ul id="nav">
				<li><a href="/">Главная</a></li>
				<li><a href="/problems">Задачи</a></li>
				<li><a href="/lections">Лекции</a></li>
				<li><a href="/lab">Лабораторные</a></li>
				<li><a href="/cook">pdf в jpg</a></li>
       			<li><a href="/python_lab">Численные методы</a></li>
				<li><a href="/python">Python</a></li>
				<li><a href="/matlab">Matlab</a></li>
				<li><a href="/tikz">TikZ</a></li>
				<li><a href="/pgfplots">PGFPlots</a></li>
				<li><a href="/cook/gallery.html">Галерея графиков</a></li>
				<li><a href="/buy">Заказ графиков/иллюстраций</a></li>
				<li><a href="{% post_url 2017-01-01-about %}">О блоге</a></li>
			</ul>
			<footer>
				<!-- Авторский сайт @ Ф.Г. Сарафанов, 2018 -->
			</footer>
		</aside>
	</div>
	<main>
		<header><h2>Исходники картинки</h2></header>
		<section style="padding-top: 20px !important;">
<a class="imag2" href="tikzpicture_81bc83708b6b611ad41d0f71c03ec67f.tex"><img src="tikzpicture_81bc83708b6b611ad41d0f71c03ec67f.pdf.jpg" alt=""></a>
<a href="pre.html">pre.tex</a>
<pre>
<code class="language-latex">\documentclass[tikz]{standalone}\input{pre.tex}\begin{document}\begin{tikzpicture}
	\def\iangle{-10};
	\def\rule{35mm};
	
		\draw[axis, opacity=0.5] (-30mm,0) -- (30mm,0);
		\coordinate (0) at (0,0);
	\begin{scope}
		\node[fill=black!10, opacity=0.1] (rect) at (0) [draw,thick,minimum width=15mm,minimum height=25mm] {};

		\draw[fill=black, opacity=0.1] ({-15mm/2+2mm},{25mm/2-2mm}) circle (4mm/10);
		\draw[fill=black, opacity=0.1] ({15mm/2-2mm},{25mm/2-2mm}) circle (4mm/10);
		\draw[fill=black, opacity=0.1] ({0},{-25mm/2+3mm}) circle (4mm/10);

		\draw[color=black!10,fill=black!2] ({-2mm},{-25mm/2+0mm}) rectangle ({2mm},{-25mm/2-\rule});

		\draw[color=black!2,fill=black!2] ({-1.9mm},{-25mm/2+1mm}) rectangle ({1.9mm},{-15mm});

		\foreach \y in {0,1,...,35} {
			\draw[color=black!20] (-0.5mm,-\y mm - 25mm/2) -- (0.5mm,-\y mm - 25mm/2) node[right, color=black!40, scale=0.2] {$\y$};
		}

		\draw[color=black!10,fill=black!2, path fading=north, bottom color=white, top color=black!3] ({-2mm},{-25mm/2+0mm}) rectangle ({2mm},{-25mm/2-\rule});


	\end{scope}

	% \draw[axis, line width = 0.3pt, ->] (-10mm, -12.5mm) -- ++(20mm, -0mm) node[right, scale=0.8]{$y$};
	\draw[axis, line width = 0.3pt, ->, color=black!30] (0, -12.5mm) -- ++ (0, -30mm) node[below, scale=0.8, black]{$x$};

	\draw[interface] (-30mm,-50mm) rectangle ++(60mm,-2mm);
	\draw[thin, black!50] (-30mm,-50mm) -- ++(60mm,0);

	\foreach \x in {0,90,...,270} {
	  \draw[line width=8mm/10, color=black!10] (0) -- +({\x+\iangle}:{395mm/10/2});

	  \draw[line width=13.5mm/10, color=black!20] (0) -- +({\x+\iangle}:{6.3mm/10+42mm/10/2});

	  \draw[line width={31.5mm/10/2}, color=black!20] ($(0)+({\x+\iangle}:{6.3mm/10+42mm/10/2+5mm})$) -- +({\x+\iangle}:{25mm/10});

	}%

	\draw[black!20,thick] ($(0)+(35mm/10/2,0)$) -- ++ (0,-30mm);
	\draw[color=black!15, fill=black!10] ($(0)+(35mm/10/2,0)+(-1mm,-30mm)$) rectangle ++(2mm,-6mm);
	\draw[fill=white] (0) circle (35mm/10/2);
	\draw[fill=white] (0) circle (42mm/10/2);


	\draw[fill=black!10] (0) circle (24mm/10/2);
	\draw[fill=black!30] (0) circle (10mm/10/2);
	
	\draw[axis, black, ->] (0) -- ++(\iangle:25mm) node[below, scale=0.8]{$\tau$};

    \draw[solid,shorten >=0.5pt, ->] (0)++(1.6cm,0) arc(0:\iangle:1.6cm);
    \node[color=black, scale=0.8] at ($(0)+(\iangle/2:1.8)$) {$\phi$};



\end{tikzpicture}\end{document}</code>
      </section>
	</main>
</div>


<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42140204 = new Ya.Metrika({ id:42140204, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42140204" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<script src="/js/prism.js"></script>
</body>
</html>