<!DOCTYPE html>
<html>
<head>
	<meta name="yandex-verification" content="09e309df3b8ffe74" />
	<meta charset="UTF-8">
    <title>Галерея картинок - блог Федора Сарафанова</title>
	<link rel=stylesheet href="/css/main2.min.css">
  <link rel="stylesheet" href="/css/prism.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/img/favicon.png" type="image/png"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai-sublime.min.css">
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script> -->

	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&locale=ru"></script>
	<!--   CommonHTML: { linebreaks: {width: "container"} },
	  "HTML-CSS": { linebreaks: {width: "container"} },
	         SVG: { linebreaks: {width: "container"} } -->
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  CommonHTML: { linebreaks: {automatic: true} },
	  "HTML-CSS": { linebreaks: {automatic: true} },
	         SVG: { linebreaks: {automatic: true} },
	  tex2jax : {
	          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	          processEscapes: true
	        },
	    showProcessingMessages: false,
	    messageStyle: 'none'
	});
	</script>

	<script>
	  function ready() {
	    hljs.initHighlightingOnLoad();
	  }
	  document.addEventListener("DOMContentLoaded", ready);
	</script>

<!-- 	{% if page.desc %}
	<meta name="description" content="{{ page.desc }}" />
	{% endif %}

	{% if page.tags %}
	<meta name="keywords" content="{{ page.tags | array_to_sentence_string }}" />
	{% endif %} -->


</head>
<body> 
<div id="wrapper">
	<div id="aside"> 
		<aside>
			<div id="title">  
				<a href="/"><h1 id="phy">Physics&nbsp;<span id="and">&</span><span id="other">&nbsp;other</span></h1></a>
			</div>
			<ul id="nav">
				<li><a href="/">Главная</a></li>
				<li><a href="/problems">Задачи</a></li>
				<li><a href="/lections">Лекции</a></li>
				<li><a href="/lab">Лабораторные</a></li>
				<li><a href="/cook">pdf в jpg</a></li>
       			<li><a href="/python_lab">Численные методы</a></li>
				<li><a href="/python">Python</a></li>
				<li><a href="/matlab">Matlab</a></li>
				<li><a href="/tikz">TikZ</a></li>
				<li><a href="/pgfplots">PGFPlots</a></li>
				<li><a href="/cook/gallery.html">Галерея графиков</a></li>
				<li><a href="/buy">Заказ графиков/иллюстраций</a></li>
				<li><a href="{% post_url 2017-01-01-about %}">О блоге</a></li>
			</ul>
			<footer>
				<!-- Авторский сайт @ Ф.Г. Сарафанов, 2018 -->
			</footer>
		</aside>
	</div>
	<main>
		<header><h2>Исходники картинки</h2></header>
		<section style="padding-top: 20px !important;">
<a class="imag2" href="tikzpicture_018e1a6c5cff8a5e04efee49583181db.tex"><img src="tikzpicture_018e1a6c5cff8a5e04efee49583181db.pdf.jpg" alt=""></a>
<a href="pre.html">pre.tex</a>
<pre>
<code class="language-latex">\documentclass[tikz]{standalone}\input{pre.tex}\begin{document}\begin{tikzpicture}[scale=2]
    \xdef\r{2}
    \draw (0,3) ellipse (2 and 0.4);
    \draw (0,0) -- ({\r},3) (0,0) -- (-\r,3);
    \draw[axis] (-2,3) -- (2,3);

    \draw[axis, rotate=-10] (0,0) ++(-0.7,1.02) arc (-110:-220:1.05cm and 0.7cm);
    \draw[axis, ->] (0,0) -- ++(0,3.45) node[above,black] {$+z$};

    \def\h{1.11}
    \def\hh{2.29}
    \draw[axis] (0,\hh) -- ++(-3,0);
    \draw[axis] (0,\h) -- ++(-2,0) node[left] {$W_p=0$};
    \draw[axis] (0,0) -- ++(-3,0);

    \draw[axis,<->] (-2,0) -- node[left, black] {$h_1$} ++(0,\h);
    \draw[axis,<->] (-3,0) -- node[left, black] {$h_2$} ++(0,\hh);

    \draw[fill=black] (-0.49,\h) coordinate (I)  circle (1pt);
    \draw[fill=black] (-0.75,\hh)  coordinate (II) circle (1pt);

    \draw[force,black!25, <-] (I)  -- node[below, black, pos=0.5, right] {$\vec{r}_1$} (0,0);%++(0.49,0.3); 
    \draw[force,black!25, <-] (II)  -- node[below, black, pos=0.5, right] {$\vec{r}_2$} (0,0);%++(0.75,-0.3); 

    \draw[force,black!20, <-] (I)  -- ++(0.49,0.3); 
    \draw[force,black!20, <-] (II)  -- ++(0.75,-0.3); 

    \draw[force,->] (I)  -- node[left, pos=1] {$\vec{v}_1$} ++(-1,0.3); 
    \draw[force,->] (II)  -- node[left, pos=1.7, yshift=-6pt] {$\vec{v}_1$} ++(0.5,0.2); 
 
    \draw[force,->] (I)  --  ++(0,-0.9) node[below, yshift=0.4em] {$m\vec{g}$}; 
    \draw[force,->] (II)  --  ++(0,-0.9) node[below, yshift=0.4em] {$m\vec{g}$}; 
    
    \draw[angular] (I)  -- node[right, yshift=-0.5em] {$\vec{N}_1$} ++(0,-0.5); 
    \draw[angular] (II)  -- node[right, yshift=-1.4em] {$\vec{N}_2$} ++(0,-0.5); 

    \draw[force,->] (I)  -- node[anchor=south west, yshift=1em] {$\vec{F}_{N1}$} ++(0.39,0.4); 
    \draw[force,->] (II)  -- node[anchor=south west, yshift=-1.5em] {$\vec{F}_{N2}$} ++(0.6,0.1); 


\end{tikzpicture}\end{document}</code>
      </section>
	</main>
</div>


<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42140204 = new Ya.Metrika({ id:42140204, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42140204" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<script src="/js/prism.js"></script>
</body>
</html>