<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %} Блог Федора Сарафанова</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <!-- <link rel="stylesheet" href="/stylesheets/jqcloud.min.css"> -->
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--     <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script> -->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1 id="phy">Physics&nbsp;<span id="and">&</span><span id="other">&nbsp;other</span></h1></a>

        <ul class="header">  
          <li><a href="/">Главная</a><li>
          <li><a href="/problems">Задачи</a><li>
          <li><a href="/lections">Лекции</a><li>
          <li><a href="/lab">Лабы</a><li>
          <li><a href="/2017/01/01/about.html">О блоге</a><li>
          <!--   <a href="/">Home</a>
          <a href="/problems">Problems</a>
          <a href="/lab">Lab</a>
          <a href="/linux">Linux</a>
          <a href="/2017/01/01/about.html">About</a>   -->
        </ul>
        <!-- <div id="cloud"></div> -->
        <!-- <p>A Theme for GitHub Pages</p> -->
        <!-- <p class="view"><a href="http://github.com/orderedlist/minimal">View the Project on GitHub <small>orderedlist/minimal</small></a></p> -->
<!--         <ul>
          <li><a href="https://github.com/orderedlist/minimal/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/orderedlist/minimal/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="http://github.com/orderedlist/minimal">Fork On <strong>GitHub</strong></a></li>
        </ul> -->
      </header>
      <section>
{{ content }}
      </section>
      <footer>
        Авторский сайт @ Ф.Г. Сарафанов, 2018
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    <script type="text/javascript" src="/javascripts/jqcloud.min.js"></script>
<!--     <script>
          var words = [
        {text: "Блог", weight: 20},
        {text: "Федора", weight: 18},
        {text: "Сарафанова", weight: 15},
        {text: "LaTeX", weight: 12},
        {text: "Linux", weight: 12},
        {text: "Tikz", weight: 12},
        {text: "Физика", weight: 11},
        {text: "Механика", weight: 11},
        {text: "Геометрия", weight: 11},
        {text: "Лабораторные", weight: 11},
        {text: "Графики", weight: 11},
        {text: "PGFplots", weight: 10},
        {text: "Matlab", weight: 10},
        {text: "Python", weight: 10},
        {text: "bash", weight: 8},
        {text: "shell", weight: 8},
        {text: "cmd", weight: 8},
        {text: "git", weight: 8},
        {text: "imagemagick", weight: 8},
        // {text: "Sit", weight: 8},
        // {text: "Amet", weight: 6.2},
        // {text: "Consectetur", weight: 5},
        // {text: "Adipiscing", weight: 5},
        /* ... */
      ];

      $('#cloud').jQCloud(words,
        {
          // colors: ["#800026", "#222f3e", "#e31a1c", "#fc4e2a", "#fd8d3c", "#feb24c", "#fed976", "#ffeda0", "#ffffcc"],
        shape: 'rectangular',
        autoResize: true, 
        fontSize: {
          from: 0.15,
          to: 0.02
        }
        });      
    </script> -->

  </body>
</html>
