html{
	background-color: #EDEDED;	
}

.text{
	font-size: 15pt;
	width: 36em;
	margin: 0 auto;
	span{
		display: inline-block;
		margin-top: 36em / 27em * 0.354em;
		text-indent: 20px;
		text-align: justify;
		line-height: 36em / 27em;
		letter-spacing: 0.01em;
		font-family: inherit;
	}
}
.empty-line{
	display: block;
	float: left;
	width: 100%;
	height: 0.4em;
}