	@-webkit-keyframes colesa {
		0%{
			-webkit-transform: scale(1);

		}
		100%{
			-webkit-transform: scale(1);
			-webkit-transform: rotate(-360deg);
		}
	}	

	@-webkit-keyframes mrak {
		0%{
			right: 0px;
			/*-webkit-transform: rotate(0deg);*/
			-webkit-transform: rotate(0deg);
		}
		100%{			
			right: 70%;
			/*-webkit-transform: rotate(-15deg);*/
			-webkit-transform: rotate(0deg);
		}
	}		


	@-webkit-keyframes mrak2 {
		0%{
			/*-webkit-transform: rotate(0deg);*/
			-webkit-transform: rotate(0deg);
		}
		100%{			
			/*right: 0%;*/
			-webkit-transform: rotate(-15deg);
		}
	}		

	.zad{
		/*-webkit-transform-origin: 100% 100%;*/
		-webkit-animation-name: colesa;
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-iteration-count: 17;
		-webkit-animation-duration: 0.1s;		
/*http://www.gintur.com/userfiles/objects/big/asel.jpg		*/
	}
	.per{

		/*-webkit-transform-origin: 100% 100%;*/
		-webkit-animation-name: colesa;
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-iteration-count: 17;
		-webkit-animation-duration: 0.1s;		
/*http://www.gintur.com/userfiles/objects/big/asel.jpg		*/
	}	
	.mrak{
		display: block;
		position: absolute;
		float: left;
		width: 236px;
		height: 97px;
		/*right: -300px;*/
		right: 70%;
		background-image: url(img/mrak2.png);
		-webkit-transform: rotate(-15deg);
/*		-webkit-animation-name: mrak;
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-duration: 0.7s;			
		-webkit-animation-delay: 2s;	*/	
		-webkit-animation: mrak 1.7s linear 1;/*,mrak2 0.1s linear 1;			*/
		-webkit-animation-delay: .0s,.7s;
	}
	.br{
		display: block;
		float: left;
		position: absolute;
		right: calc(70% + 226px);
		top: 0;
		width: 10px;
		height: 100px;
		background: #000;
	}
	.zad{
		display: block;
		float: left;
		width: 25px;
		height: 25px;
		background-image: url(img/zad.png);
		position: relative;
		left: 100px;
		top: 72px;
	}	
	.per{
		display: block;
		float: left;
		width: 23px;
		height: 23px;
		background-image: url(img/per.png);
		position: relative;
		left: 20px;
		top: 72px;
	}	